body{
    background-color: black;
}
#counter{
    text-align: center;
    font-size:10vw;
    background-color:black;
    
    color:white;
    padding: 20px;

}
.box{
    border: 1px solid;
    display:flex;
    justify-content: space-between;
    background-color:black;
    border-radius: 5px;
   
    align-items: center;
    
}
.bnt{
    font-size: 100px;
    border: none;
    border-radius:5px;
    color: white;
    cursor: pointer;
    
    width: 100px;
}